.miclaseCSS{
	color: orange;
    font-size: 30px ;
}

#miBotons{
	background-color: orange;
}
#miBotonr{
	background-color: blue;
}
#miBotonm{
	background-color: orange;
}
#miBotond{
	background-color: blue;
}

h1 {

	color: blue;
}